fastapi
uvicorn
pydantic
requests
numpy
pandas
tqdm
python-dotenv
PyYAML
rich
click
typer

transformers
accelerate
datasets
torch
torchvision
torchaudio
safetensors
tokenizers
sentencepiece
huggingface_hub
protobuf

llama_cpp_python
GPTQModel
torchao

pyarrow
fsspec